.tasks-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title-completed {
        font-family: "Satisfy", serif;
        margin-top: 20px;
        font-size: 3rem;
        color: rgb(21, 180, 21);
    }

    .title-uncompleted {
        font-family: "Satisfy", serif;
        margin-top: 20px;
        font-size: 3rem;
        color: rgb(209, 14, 14);
    }

    .listCompleted {
        background-color: rgba(86, 87, 167, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 500px;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
        border-radius: 8px;
        overflow: auto;

        .wrapperCompleted {
            display: flex;
            justify-content: space-around;
            color: #fff;
            text-align: center;
            font-size: 1.5rem;
            width: 100%;
            border-bottom: 2px solid #fff;

            .div-name {
                width: 100%;
                border-right: 2px solid #fff;
            }

            .div-description {
                width: 100%;
            }
        }
    }

    .listUncompleted {
        background-color: rgba(228, 95, 95, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 500px;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
        border-radius: 8px;
        overflow: auto;

        .wrapperUncompleted {

            display: flex;
            justify-content: space-around;
            color: #fff;
            text-align: center;
            font-size: 1.5rem;
            width: 100%;
            border-bottom: 2px solid #fff;

            .div-name {
                width: 100%;
                border-right: 2px solid #fff;
            }

            .div-description {
                width: 100%;
            }
        }
    }
}